{% extends 'base.html' %}
{% load static %}

{% block story %}
<link rel="stylesheet" type="text/css" href="{% static 'css/story.css' %}">
{% endblock %}


{% block storys %}
<div class='container'>

	<h1 class='title'>Our Story</h1>

	<div class="card">
		<p>
			It was a fine night of winters, When I asked my friends on our way back to Dubai from Abu Dahbi to lets grab some quality tea, not only tea but something much more to energize our night. We went to a cafe @ 3 AM and was so amazed to see the bunch of people on waiting to grab their tea. It was quite shocking and i got curious that whats really amazing in this tea. Finally we ordered flavored tea and when I tasted it, We finally got to know that tea was worth waiting for. I decided the same night to bring that taste to my homeland. After getting negative response from that brand about franchising in Pakistan, We finally decided to bring that taste with our own identity.
			So, finally we are here to share great flavored teas and snacks with you.
			Not only simple tea but large variety of milk based flavored teas and snacks.
			Just because we want you to count the  memories without caring about calories.
		</p>
	</div>
</div>
{% endblock %}